:root {
  --color-primary: #14141A;
  --color-secondary: #FBFBFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: var(--color-secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

/* Footer */
.footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: 100%;
    padding: 32px 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
