<nav class="about__social" aria-label="Social media links">
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/kondratevdev"
    class="about__github"
    aria-label="GitHub profile"
  >
    {% include social/github.svg %}
  </a>

  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://t.me/kondratevdev"
    class="about__telegram"
    aria-label="Telegram"
  >
    {% include social/telegram.svg %}
  </a>

  <a
    target="_blank"
    rel="noopener noreferrer"
    href="mailto:mail@kondratev.dev"
    class="about__email"
    aria-label="Email"
  >
    {% include social/email.svg %}
  </a>

  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://linkedin.com/in/kondratevdev"
    class="about__linkedin"
    aria-label="LinkedIn profile"
  >
    {% include social/linkedin.svg %}
  </a>
</nav>
