.error {
  display: grid;
  place-items: center;
  height: 100%;
}

.error__content {
  text-align: center;
}

.error__icon img {
  max-width: 100%;
  height: auto;
  width: clamp(var(--error-image-min), 50vw, var(--error-image-max));
}
