* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --black-color: #14141A;
  --white-color: #FBFBFB;
}

body {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

.main {
  flex: 1;
  box-sizing: border-box;
}

/* Index */
.about {
  min-height: calc(100vh - 90px);;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.about__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__header {
  margin-top: 32px;
}
.about__name {
  font-size: clamp(24px, 5vw, 48px);
  font-weight: 700;
}
.about__social {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.about__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: all 0.3s ease;
}
.about__social a:hover {
  transform: scale(1.1);
}

/* 404 */
.error {
  min-height: calc(100vh - 90px);;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error__message {
  font-size: 160px;
  font-weight: 700;
  color: var(--black-color);
}

/* Footer */
.footer {
  background-color: var(--black-color);
  width: 100%;
  height: 90px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
