footer {
  margin-top: auto;
}

.footer__inner {
  border-top: 1px solid var(--color-surface-2);
}

.footer__text {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  line-height: var(--line-height-normal);
  font-size: clamp(var(--font-size-xs), 2.5vw, var(--font-size-sm));
}
